root = true

[*.js]
indent_style = tab
indent_size = 4

[*.bas]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 3

[*.{json,yml,yaml-tmlanguage}]
indent_style = space
indent_size = 2
