# version control
.gitignore
.github/

# config files
.eslintignore
tsconfig.json

# source files
src/
**/scripts/
**/tests/
**/*.yml
**/*.xcf

# other
.vscode/
*.code-workspace
**/*.map
CONTRIBUTING.md
