name: CI

on:
  pull_request:
  push:
    branches: [main]
    tags: ['0.[0-9]+.[0-9]+']

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install dependencies
        run: npm install
      - name: Test
        run: npm run test

  compile-and-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - uses: tiabeast/setup-bait@main
      - name: Install dependencies
        run: npm install
      - name: Compile
        run: npm run compile
      - name: Package
        run: npm run package
      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: vscode-vba-0.*.*.vsix

  publish:
    needs:
      - test
      - compile-and-package
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - uses: tiabeast/setup-bait@main
      - name: Install dependencies
        run: npm install
      - name: Publish to VS Code Marketplace
        if: always()
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.VSCE_PAT }}
          registryUrl: https://marketplace.visualstudio.com
      - name: Publish to Open VSX Registry
        if: always()
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.OPEN_VSX_PAT }}
