name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node_version: "14"
      - name: Install dependencies
        run: npm install
      - name: Run eslint
        run: npm run lint
