name: CI

on:
  pull_request:
  push:
    branches: [main]
    tags: ['*']

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Test
        run: pnpm run test


  compile-and-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - uses: bait-lang/setup-bait@main
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Compile
        run: pnpm run compile

      - name: Package
        run: pnpm run package

      - name: Upload artifact
        # if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v4
        with:
          name: vba.vsix
          path: vscode-vba-${{ github.event.release.tag_name }}.vsix
          if-no-files-found: error


  pub2:
    needs:
      - test
      - compile-and-package
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        id: dl_art
        uses: actions/download-artifact@v4
        with:
          name: vba.vsix
      - run: ls -R

  publish:
    needs:
      - test
      - compile-and-package
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: vba.vsix

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: true
          files: vba.vsix

      - id: publish_to_marketplace
        name: Publish to VS Code Marketplace
        if: always()
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.VSCE_PAT }}
          registryUrl: https://marketplace.visualstudio.com
          extensionFile: vba.vsix

      - name: Publish to Open VSX Registry
        if: always()
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.OPEN_VSX_PAT }}
          extensionFile: vba.vsix
